/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poltawski+Nowy:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Indie FLower", sans-serif;
    font-weight: 300;
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.title h1 {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    color: #20201F;
    text-shadow: -1px 0 #FDFF19, 0 1px #FDFF19, 1px 0 #FDFF19, 0 -1px #FDFF19;
}

.score-area {
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 40vh;
}

.score-area p {
    font-size: 40px;
}

.intro-page {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro-page button {
    width: 200px;
    height: 50px;
    font-family: "Indie FLower", sans-serif;
    border: none;
    color: #20201F;
    background: #FDFF19;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bold;
    border-style: solid;
    cursor: pointer;
}

.match-page {
    margin: auto;
    text-align: center;
    margin-top: 300px;
    transition: opacity 0.5s ease;
}

.match-page button {
    color: #20201F;
    background: #FDFF19;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    color: #fff;
}

.player-hand {
    transform: scaleX(-1);
    width: 50%;
}

.computer-hand {
    width: 50%;
}

.match-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.options button {
    font-size: 2em;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

.main-hands {
    display: flex;
    align-items: center;
}

.img-div {
    width: 50%;
}

/* media queries */

/* for larger and medium screens size from 1200px wide and down */
@media screen and (max-width: 900px) {
    .title h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 540px) {
    .title h1 {
        font-size: 35px;
    }
    .score-area p {
        font-size: 25px;
        margin-top: 40px;
    }
    .main-hands {
        height: auto;
    }
    .player-hand, .computer-hand {
        width: 60%;
    }
}