/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poltawski+Nowy:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Indie FLower", sans-serif;
    font-weight: 300;
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title h1 {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    color: #20201F;
    text-shadow: -1px 0 #E7E92D, 0 1px #E7E92D, 1px 0 #E7E92D, 0 -1px #E7E92D;
}

.score-area {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.score-area p {
    font-size: 40px;
}

.intro-page {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro-page button {
    width: 200px;
    height: 50px;
    font-family: "Indie FLower", sans-serif;
    border: none;
    color: #20201F;
    background: #E7E92D;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bold;
    border-style: solid;
    cursor: pointer;
}

.match-page {
    margin: auto;
    text-align: center;
    margin-top: 300px;
    transition: opacity 0.5s ease;
}

.match-page button {
    color: #20201F;
    background: #E7E92D;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.result {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: scaleX(-1);
}

.match-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.options button {
    font-size: 2em;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

.main-hands {
    display: flex;
    align-items: center;
    height: 350px;
}

.img-div {
    flex: 33.33%;
}