/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poltawski+Nowy:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Indie FLower", sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom, #dad1dc, #dad1dc, #dad1dc, #dad1dc, #dad1dc, #cbc2ce, #bcb4c0, #ada6b2, #8c8794, #6c6977, #4e4d5b, #313240);
}

.title h1 {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    color: #20201F;
    text-shadow: -1px 0 #D3D521, 0 1px #D3D521, 1px 0 #D3D521, 0 -1px #D3D521;
}

section {
    height: 100vh;
}

.score-area {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.score-area p {
    font-size: 40px;
}

.intro-page {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.intro-page button {
    width: 200px;
    height: 50px;
    font-family: "Indie FLower", sans-serif;
    border: none;
    color: #20201F;
    background: #D3D521;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bold;
    border-style: solid;
}

.match-page {
    position: absolute;

}

.match-page button {
    color: #20201F;
    background: #D3D521;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.option-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}